#Log files
*.log
node_modules
backend/.env
backend/.env
backend/.env.example
*.env
backend/requirements.txt
monitoring/loki-data/wal/checkpoint.000056/00000000
monitoring/loki-data/wal/checkpoint.000051/00000000
monitoring/loki-data/wal/00000058
monitoring/loki-data/wal/00000057
monitoring/loki-data/wal/00000055
monitoring/loki-data/wal/00000053
monitoring/loki-data/wal/00000054
monitoring/loki-data/wal/00000052
backend/requirements.txt
monitoring/loki-data/wal/00000052
monitoring/loki-data/wal/00000053
monitoring/loki-data/wal/00000054
monitoring/loki-data/wal/00000055
monitoring/loki-data/wal/checkpoint.000051/00000000
monitoring/loki-data/index/uploader/name
monitoring/loki-data/index/index_20292/1753285234
monitoring/loki-data/compactor/deletion/delete_requests/delete_requests
monitoring/loki-data/chunks/index/index_20292/compactor-1759249099.gz
monitoring/loki-data/chunks/index/index_20292/9bbe6f4568fb-1753181616298343094-1753285234.gz
monitoring/loki-data/chunks/index/index_20291/compactor-1759249099.r.gz
monitoring/loki-data/chunks/index/index_20291/compactor-1753280624.gz
monitoring/loki-data/chunks/index/delete_requests/delete_requests.gz
monitoring/loki-data/chunks/ZmFrZS81MTg1MGU3Njg2ZThkYWY2OjE5ODMyZWE3ZDRiOjE5ODMyZWE3ZTYxOjM5YzQxNjcz
monitoring/loki-data/chunks/ZmFrZS81MTg1MGU3Njg2ZThkYWY2OjE5ODM3ZDU5OGQ1OjE5ODM3ZDU5OTZlOjcxMzFlZjZm
monitoring/loki-data/cache/index_20292/compactor-1759249099
monitoring/loki-data/cache/index_20292/9bbe6f4568fb-1753181616298343094-1753285234
monitoring/loki-data/cache/index_20291/compactor-1759249099.r
monitoring/loki-data/cache/index_20291/compactor-1753280624
monitoring/loki-data/chunks/loki_cluster_seed.json
monitoring/loki-data/chunks/index/index_20361/compactor-1759255630.gz
monitoring/loki-data/chunks/ZmFrZS83MWY0MGI0YzQwNWJiY2QxOjE5OTliNzBjYTFjOjE5OTliOGNiN2VmOjk5NTJkOTA1
