python-dotenv 

Flask 

Flask-SQLAlchemy 

Flask-Migrate 

Flask-Bcrypt 

Flask-cors 

Flask-restx

requests 

SQLAlchemy 

greenlet 

alembic 

Mako 

typing-extensions 

authlib 

email-validator

Flask-Admin

python-dateutil

prometheus-flask-exporter

openai

# Graph database dependencies
gremlinpython>=3.6.0

# Vector DB requirements

tiktoken

pgvector
neo4j

redis

celery

psycopg2-binary